<div id="footer">
  <div id="slogan">
    Playground for the Minds
  </div>
  <div id="footer-content">
    <div id="content-brand">
      <div id="brand"><a href="index_es"><%= image_tag 'unvil-foot.png' %></a></div>
      <div id="brand-below">
        <span><p>Contactanos: </p><a href="mailto:contact@unvil.com" title="Send us an Email!">contact@unvil.com</a></span>
      </div>
    </div>
    <div class="foot-box">
      <div class="social-net">
        <h3>Seguinos</h3>
        <a href="https://www.facebook.com/unvilsa/?fref=ts" title="Encontranos en Facebook"target="_blank">
          <div class="social-box"><%= image_tag 'facebook.png' %></div>
        </a>
        <a href="https://twitter.com/unvilsa?lang=es" title="Encontranos en Twitter"target="_blank">
          <div class="social-box twitter"><%= image_tag 'twitter.png' %></div>
        </a>
      </div>
    </div>
    <div class="foot-box foot-box-nav">
      <div class="foot-nav">
        <ul>
          <li><a href="index_es">Inicio</a></li>
          <li><a href="portfolio_es">Portafolio</a></li>
          <li><a href="careers_es">Carreras</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
